* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'ZCOOL XiaoWei', serif;
}

#nav-bar {
    background-color: #062652;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    position: fixed;
    width: 100%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#nav-bar > ul{
    display: flex;
    font-weight: bold;
    margin-right: 30px;
}

#nav-bar > ul > li {
    list-style: none;
    padding-right: 35px;
    font-size: 1.5em;
    letter-spacing: 1.2px;
}

.orange {
    color: #EB7329;
    font-size: 20px;
}

#nav-bar > ul > li > a {
    text-decoration: none;
    color: whitesmoke;
}

#nav-bar > ul > li > a:hover {
    color: #EB7329;
}

#nav-bar > ul > li > a:active {
    color: #EB7329;
}

.crop {
    width: 100px;
    height: 80px;
    overflow: hidden;
}

.crop img {
    width: 150px;
    height: 150px;
    margin: -30px -0 0 -25px;
}

.getStarted {
    padding: 1.5em;
    background-color: #EB7329;
    color: whitesmoke;
    font-size: 2em;
    font-weight: bolder;
    border-bottom-right-radius: 45px;
    border-top-left-radius: 45px;
    font-family: 'ZCOOL XiaoWei', serif;

}

#home {
    min-height: 100vh;
}

#home > img {
}

#home > .hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #062652;
    padding-top: 125px;
    padding-bottom: 30px;
    
}


  
  